html {
    background-color: #fcfcfc;
}

header {
    line-height: 45px;
    margin: 0 3em;
}

.search {
    width: 90%;
    margin: auto;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #808080;
    border-radius: 10px;
}

input:focus {
    outline: none;
    border: 1px solid black;
    transition: all 0.5s ease-out;
}

input:hover {
    cursor: text;
}

.title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
    margin: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    align-content: center;
}

.card:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s;
}

.user-info {
    list-style-type: none;
    margin: 10px auto;
    text-align: center;
}

.user-info p {
    margin: 5px 0;
    opacity: 0.75;
}

.employee_name {
    margin: 10px 0;
}

.card img {
    border-radius: 50%;
    margin: 7px auto;
}

/**** Modal Box ****/
/* The Modal (background) */
.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 375px;
    height: 525px;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: 3s ease-out;
    font-family: 'Open Sans', sans-serif;

}

/* The Close Button */
.close {
    color: black;
    position: relative;
    left: 350px;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.modal-content {
    margin: auto;
    text-align: center;
}

.modal-content hr {
    margin: 30px 10px;
    opacity: 0.5;
}

.modal-picture {
    width: 150px;
    margin: 0;
    border-radius: 50%;
}

.modal-info {
    display: flex;
    margin: 0 auto;
    height: calc(100% - 31px);
}

.arrow {
    margin: auto 20px;
}

.arrow:hover {
    transform: scale(1.3);
    cursor: pointer;
}


/**** Media Queries ***/
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        margin: 15px;
    }
}

@media (min-width: 1024px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        text-align: unset;
        margin: auto 0;
        font-family: 'Open Sans', sans-serif;
    }

    .search {
        width: 40%;
        margin: auto 0 auto auto;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
        width: 95%;
        margin: 20px auto;
    }
}