html {
    background-color: #fcfcfc;
}

body {
    margin: 0 3em;
}

header {
    line-height: 45px;
    margin: 0;
}

/*** SEARCH BOX ***/
.search {
    width: 90%;
    margin: auto;
}

input {
    padding: 12px;
    width: 100%;
    border: 1px solid #808080;
    border-radius: 10px;
    font-family: 'Merriweather', serif;
}

input:focus {
    outline: none;
    border: 1px solid black;
    transition: all 0.5s ease-out;
}

input:hover {
    cursor: text;
}

.title {
    text-align: center;
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 32px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1em;
    margin: 10px auto;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    background-color: #fff;
    font-family: 'Merriweather', serif;
    align-content: center;
}

.card:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.5s;
}

.user-info {
    margin: auto auto auto 10px;
    text-align: left;
}

.user-details p {
    margin: 5px 0;
    opacity: 0.75;
}

.employee-name {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 550;
}

.card img {
    border-radius: 50%;
    margin: 10px;
    max-width: 130px;
    max-height: 130px;
}


/**** MODAL BOX ****/
/* The Modal (Background) */
.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-box {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 375px;
    height: 525px;
    margin: auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25em;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: 3s ease-out;
    font-family: 'Open Sans', sans-serif;
}

.modal-info {
    display: flex;
    margin: 0 auto;
    height: calc(100% - 31px);
}

.modal-content {
    margin: auto;
    text-align: center;
}

.modal-picture {
    width: 170px;
    margin: 0;
    border-radius: 50%;
}

.modal-employee-info {
    padding-top: 20px;
}

.arrow {
    margin: auto 20px;
}

.arrow:hover {
    transform: scale(1.3);
    cursor: pointer;
}

/* Horizontal Line */
.modal-content hr {
    margin: 30px 0;
    opacity: 0.5;
}

/* Close Button */
.close {
    color: black;
    position: relative;
    left: 350px;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.close:hover {
    cursor: pointer;
    transform: scale(1.3);
}

/* Removing X from search bar in GC & IE */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


/**** MEDIA QUERIES ***/
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        margin: 15px;
    }

    .card {
        display: inline-block;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    header {
        display: flex;
        flex-wrap: wrap;
    }

    .search {
        width: 40%;
        margin: auto 0 auto auto;
    }

    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 2em;
        row-gap: 2em;
        /* width: 95%; */
        margin: 20px 0;
    }

    .card {
        display: flex;
        flex-wrap: wrap;    
    }
}